<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>收藏</title>
    <link rel = "stylesheet">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <style>
        .rectangle {
            /*display: block;*/
            /*margin-top: .45rem;*/
            height: 1.775rem;
            background-image: linear-gradient(145deg,
            #0aacfb 0%,
            #72e4ff 100%);
        }
    </style>
    <meta name="viewport" content="width=320px, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
  <div class = "rectangle">
  </div>
</body>
</html>
